wait(4)
game.StarterGui:SetCore("SendNotification",{Title = "SCRIPT creado por: JAS", Text = "Gracias por usar ;)", Duration = 5})
wait(3)
local args = {
    [1] = "Soy scripter Mamá",
    [2] = "All"
}
game:GetService("ReplicatedStorage").DefaultChatSystemChatEvents.SayMessageRequest:FireServer(unpack(args))
wait(1)
local args = {
    [1] = "Soy gachatuber Mamá",
    [2] = "All"
}
game:GetService("ReplicatedStorage").DefaultChatSystemChatEvents.SayMessageRequest:FireServer(unpack(args))
game.StarterGui:SetCore("SendNotification",{Title = "Usuraio no registrado", Text = "Aprende a programar", Duration = 5})
wait(5)
    game:GetService("TeleportService"):Teleport(920587237, LocalPlayer)
