wait(4)
bc = BrickColor.new(255, 0, 0)
game.StarterGui:SetCore("ChatMakeSystemMessage", {
    
    Text = "[Scripter][JAS]:Script Creado por: JAS";
    
    Font = Enum.Font.Highway;
    
    Color = bc.Color;
    
    FontSize = Enum.FontSize.Size8;
    })
wait(5)
bc = BrickColor.new(234, 0, 255)
game.StarterGui:SetCore("ChatMakeSystemMessage", {
    
    Text = "[Tester][JAS]:Hola, Gracias por utilizar mi script";
    
    Font = Enum.Font.Highway;
    
    Color = bc.Color;
    
    FontSize = Enum.FontSize.Size8;
    })
wait(5)
game.StarterGui:SetCore("SendNotification",{Title = "Espera Unos Segundos", Text = "Esto puede demorar", Duration = 5})
wait(3)
local args = {
    [1] = "El troleo hermano",
    [2] = "All"
}
game:GetService("ReplicatedStorage").DefaultChatSystemChatEvents.SayMessageRequest:FireServer(unpack(args))
wait(2)
local args = {
    [1] = "Ahorita funciona we",
    [2] = "All"
}
game:GetService("ReplicatedStorage").DefaultChatSystemChatEvents.SayMessageRequest:FireServer(unpack(args))
game.StarterGui:SetCore("SendNotification",{Title = "Usuraio No Registrado", Text = "ten tu SPD", Duration = 5})
wait(4)
    game:GetService("TeleportService"):Teleport(920587237, LocalPlayer)
