wait(3)
bc = BrickColor.new(255, 0, 0)
game.StarterGui:SetCore("ChatMakeSystemMessage", {
    
    Text = "[Scripter][JAS]:Script Creado por: JAS";
    
    Font = Enum.Font.Highway;
    
    Color = bc.Color;
    
    FontSize = Enum.FontSize.Size8;
    })
wait(5)
bc = BrickColor.new(234, 0, 255)
game.StarterGui:SetCore("ChatMakeSystemMessage", {
    
    Text = "[Tester][JAS]:Hola, Gracias por utilizar mi script";
    
    Font = Enum.Font.Highway;
    
    Color = bc.Color;
    
    FontSize = Enum.FontSize.Size8;
    })
wait(5)
game.StarterGui:SetCore("SendNotification",{Title = "Espera Unos Segundos", Text = "Esto puede demorar", Duration = 5})
wait(1)
local args = {
    [1] = "CP",
    [2] = false
}

game:GetService("ReplicatedStorage").RSPackage.Events.GeneralFunction:InvokeServer(unpack(args))
wait(1)
local player = game.Players.LocalPlayer.Character
for i, v in pairs(player:GetChildren()) do
  if v.Name == "HumanoidRootPart"
  then for i2, v2 in pairs(v:GetChildren()) do
	  if v2.Name == "TotalPower"
	  then for i3, v3 in pairs(v2:GetChildren()) do
		  if v3.Name == "Num" then
			  v3.Text = "53.00SpD"
		  end
		  end
		end
	  end
  end
end
wait(10)
local args = {
    [1] = "El troleo hermano",
    [2] = "All"
}
game:GetService("ReplicatedStorage").DefaultChatSystemChatEvents.SayMessageRequest:FireServer(unpack(args))
wait(2)
local args = {
    [1] = "Puro coto no funciona XD",
    [2] = "All"
}
game:GetService("ReplicatedStorage").DefaultChatSystemChatEvents.SayMessageRequest:FireServer(unpack(args))
game.StarterGui:SetCore("SendNotification",{Title = "Usuraio No Registrado", Text = "Vete al adopt me XD", Duration = 5})
wait(4)
    game:GetService("TeleportService"):Teleport(920587237, LocalPlayer)
